.footer-details {
    background-color: #222222;
    color: #fff;
}

.icon.circular {
    border-radius: 500em!important;
    box-shadow: 0 0 0 .1em rgba(0,0,0,.1) inset;
    height: 2em!important;
    width: 2em!important;
    background-color: blue;
}

#footer-text {
    text-align: center;
}

#footer-text {
	font-weight: 100;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

#footer-text:before,
#footer-text:after {
	position: absolute;
	color: #000;
	font-size: 2rem;
	width: 2rem;
	height: 2rem;
}

#footer-text:before {
	content: '“';
}

#footer-text:after {
	content: '”';
}
