.nav-div{
  display: flex;
  height: inherit;
  width: inherit;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  padding: 30px;
  pointer-events: none;
  z-index: 10000;
  @media screen and (max-width: $mq-md) {
    display: none !important;
  }
}

.navbar {
  pointer-events: all!important;
  &:hover{
    background-color: white;
    transition: background-color 0.5s linear;
    li {
      p{
        display: block;
      }
    }
  }
  ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 10px;
      text-align: right;
      p {
        display: none;
        margin: 0%;
        padding-right: 5px;
        font-size:small;
      }
    }
  }
  a {
    display: block;
    border: 2px solid #112d4e;
    background-color: #112d4e;
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: black;
    position: relative;
    &::after {
      content: "";
      background-color: #fff;
      position: absolute;
      bottom: 0;
      height: 0;
      left: 0;
      right: 0;
      width: 100%;
      transition: height 0.3s ease;
    }
    &::before{
        content: "";
    }
    &:hover {
      &::after {
        height: 100%;
      }
    }
  }
  a.active {
    &::after {
      height: 100%;
    }
  }
  
}

