#success-map p {
	font-size: medium;
}

#customer-insights {
	background-image: url(/dist/images/rm378-04-x.jpg);
	color: #DFF6FF;
    background-size: cover;
}

#customer-insights {
    ul {
        font-size: initial;
        text-align: center;
    }
    h3 {
        font-size: inherit;
    }
}