  #map-container {
    width: 100%;
    height: auto;
  }
  #map {
    width: 100%;
  }
  /**
   * Popup Card
   */
  .popup-card {
    background-color: rgba(43, 43, 43, 0.9);
    border-bottom: 2px solid #2b2b2b;
    border-radius: 3px;
    padding: 15px 15px 10px;
    position: absolute;
    opacity: 0;
    width: 100px;
    margin-left: -65px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Montserrat";
    font-size: 12px;
    line-height: 16px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-animation: fadeUp 500ms cubic-bezier(0.51, 0.01, 0.37, 0.98);
            animation: fadeUp 500ms cubic-bezier(0.51, 0.01, 0.37, 0.98);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  /**
   * Popup Card Bottom Arrow
   */
  .popup-card:after,
  .popup-card:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-top: 2px;
  }
  .popup-card:after {
    border-color: transparent;
    border-top-color: #2b2b2b;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
  }
  .popup-card:before {
    border-color: transparent;
    border-top-color: #2b2b2b;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
  }
  /**
   * Popup Card Elements
   */
  .popup-card span {
    display: block;
    color: #d4dbe2;
  }
  .popup-card span.country {
    font-size: 14px;
    margin-bottom: 8px;
    color: #fff;
  }
  .popup-card em {
    font-style: normal;
    display: inline-block;
    color: #a3b1bf;
    margin-right: 3px;
  }
  /**
   * Fade Up Animations
   */
  @-webkit-keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(-80%);
    }
    100% {
      opacity: 1;
      transform: translateY(-100%);
    }
  }
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(-80%);
    }
    100% {
      opacity: 1;
      transform: translateY(-100%);
    }
  }
  .countries-list {
    display: block;
    position: relative;
    z-index: 100;
  }
  .countries-list li {
    cursor: pointer;
  }
  .countries-list li:hover {
    color: #000000;
  }
  