//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "variables";
@import "bootstrap";
@import "fonts";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

body {
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #f9f7f7;
  overflow-x: hidden;
  font-family: 'Cambria' !important;
  li {
    word-spacing: 3px !important;
  }
  h2 {
    color: #112D4E;
  }
}

 html {
  font-size: 1.3rem;
}
/*
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.0rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.3rem;
  }
} */

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/slider";
@import "components/banner";
@import "components/navbar";
@import "components/awards";
@import "components/footer";
@import "components/reach";
@import "components/statistics";
@import "components/success-map";
@import "components/about-us";